
@{
    ViewData["Title"] = "Index";
}

<!-- Tour Cards Start-->
<section id="tourCards" class="everyFirstSec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="wholeCardBox">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card_img">
                                        <img src="~/img/tours/card_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="cardBody">
                                        <div class="cardTitle text-center">
                                            <h3>
                                                <a href="singleTour.html">Xinaliq Seyaheti</a>
                                            </h3>
                                        </div>
                                        <div class="cardDetails">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="listInfo">
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 class="price">650 Azn</h3>
                                                    <ul class="featureList">
                                                        <li>6 days / 5 nights</li>
                                                        <li>Guided</li>
                                                        <li>Camping</li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="date text-center">
                                                        <h4>24 yanvar bazar</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="wholeCardBox">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card_img">
                                        <img src="~/img/tours/card_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="cardBody">
                                        <div class="cardTitle text-center">
                                            <h3>
                                                <a href="singleTour.html">Xinaliq Seyaheti</a>
                                            </h3>
                                        </div>
                                        <div class="cardDetails">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="listInfo">
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 class="price">650 Azn</h3>
                                                    <ul class="featureList">
                                                        <li>6 days / 5 nights</li>
                                                        <li>Guided</li>
                                                        <li>Camping</li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="date text-center">
                                                        <h4>24 yanvar bazar</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="wholeCardBox">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card_img">
                                        <img src="~/img/tours/card_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="cardBody">
                                        <div class="cardTitle text-center">
                                            <h3>
                                                <a href="singleTour.html">Xinaliq Seyaheti</a>
                                            </h3>
                                        </div>
                                        <div class="cardDetails">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="listInfo">
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 class="price">650 Azn</h3>
                                                    <ul class="featureList">
                                                        <li>6 days / 5 nights</li>
                                                        <li>Guided</li>
                                                        <li>Camping</li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="date text-center">
                                                        <h4>24 yanvar bazar</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="wholeCardBox">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card_img">
                                        <img src="~/img/tours/card_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="cardBody">
                                        <div class="cardTitle text-center">
                                            <h3>
                                                <a href="singleTour.html">Xinaliq Seyaheti</a>
                                            </h3>
                                        </div>
                                        <div class="cardDetails">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="listInfo">
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 class="price">650 Azn</h3>
                                                    <ul class="featureList">
                                                        <li>6 days / 5 nights</li>
                                                        <li>Guided</li>
                                                        <li>Camping</li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="date text-center">
                                                        <h4>24 yanvar bazar</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="wholeCardBox">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card_img">
                                        <img src="~/img/tours/card_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="cardBody">
                                        <div class="cardTitle text-center">
                                            <h3>
                                                <a href="singleTour.html">Xinaliq Seyaheti</a>
                                            </h3>
                                        </div>
                                        <div class="cardDetails">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="listInfo">
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                        <li>
                                                            A shorten Huayhuash Trek for those with limited time
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 class="price">650 Azn</h3>
                                                    <ul class="featureList">
                                                        <li>6 days / 5 nights</li>
                                                        <li>Guided</li>
                                                        <li>Camping</li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="date text-center">
                                                        <h4>24 yanvar bazar</h4>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <div id="pagination" class="d-flex justify-content-center">
                            <ul class="d-flex" id="numBox">
                                <li class="pageNum mr-3"><a href="#">Prev</a></li>
                                <li class="pageNum"><a href="#">1</a></li>
                                <li class="pageNum"><a href="#">2</a></li>
                                <li class="pageNum"><a href="#">3</a></li>
                                <li class="pageNum"><a href="#">4</a></li>
                                <li class="pageNum"><a href="#">5</a></li>
                                <li class="pageNum"><a href="#">6</a></li>
                                <li class="pageNum"><a href="#">7</a></li>
                                <li class="pageNum"><a href="#">8</a></li>
                                <li class="pageNum"><a href="#">9</a></li>
                                <li class="pageNum"><a href="#">10</a></li>
                                <li class="pageNum ml-3"><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>


            </div>
            <div class="col-md-4">
                <div class="filterSection">
                    <div class="filterHeader text-center">
                        <h4>Filters</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <div class="dateTimefilt text-center">
                                <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
                            </div>
                        </div>
                        <div class="col-md-12 mt-5">
                            <div class="priceFilter">
                                <p>
                                    <label for="amount">Price range:</label>
                                    <input type="text" class="amount" readonly
                                           style="border:0; color:#f6931f; font-weight:bold;">
                                </p>

                                <div class="slider-range"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="fltBtn">
                <button>Filters</button>
            </div>
        </div>
        <div class="outBox">
            <div class="overlay">
                <div class="resFiltersection everyFirstSec">
                    <div class="filterHeader text-center">
                        <h4>Filters</h4>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12 mt-5">
                                <div class="dateTimefilt text-center">
                                    <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <div class="priceFilter">
                                    <p>
                                        <label for="amount">Price range:</label>
                                        <input type="text" class="amount" readonly
                                               style="border:0; color:#f6931f; font-weight:bold;">
                                    </p>

                                    <div class="slider-range"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>





    </div>
</section>
<!-- Tour Cards End -->
@section Customcss{
    <link rel="stylesheet" href="~/css/tours.css">
}
@section Scripts{
    <!-- Price filter -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Datetimepicker -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="~/js/tours.js"></script>

}