@model CA_hikingProject.DbModels.Requirement

@{
    ViewData["Title"] = "Edit";
}

@{
    Layout = "_AdminLayout";
}
}
<h1>Edit</h1>

<h4>Requirement</h4>
<hr />
<div class="col-md-8">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SingleTourId" class="control-label"></label>
            <select asp-for="SingleTourId" class="form-control" asp-items="ViewBag.SingleTourId"></select>
            <span asp-validation-for="SingleTourId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

