@model CA_hikingProject.DbModels.OneTourImage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OneTourImage</h4>
<hr />

    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SingleTourId" class="control-label"></label>
                <select asp-for="SingleTourId" class="form-control" asp-items="ViewBag.SingleTourId"></select>
                <span asp-validation-for="SingleTourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllImageId" class="control-label"></label>
                <select asp-for="AllImageId" class="form-control" asp-items="ViewBag.AllImageId"></select>
                <span asp-validation-for="AllImageId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsIntro" /> @Html.DisplayNameFor(model => model.IsIntro)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

