@model CA_hikingProject.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Calistoga&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5e88d62c54.js"></script>
    <link rel="stylesheet" href="~/lib/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/logIn.css">
    <title>Şəxsi hesab</title>
</head>
<body>
    
    <section id="login">

        <div class="container">
            <div class="btn_reg pl-2 d-flex justify-content-start" style="color: black;">
                <a href="home.html">
                    <i class="fas fa-arrow-left"></i>
                </a>

            </div>
            <div class="formArea">
                <div class="row">
                    <div class="col-md-6 col-12 d-flex align-items-center">
                        <img src="~/img/logIn/LogIn.png" alt="">
                    </div>

                    <div class="col-md-6 col-12 ">

                        <div class="sectionHeader">
                            <h2>Şəxsi hesab</h2>
                        </div>
                        <div class="formBox d-flex align-items-center justify-content-center">
                            <div class="container">
                                <div class="logInform ">
                                    <div class="formBox">
                                        <form asp-action="LogIn" asp-controller="account" method="post">
                                            <div class="inputIcon align-items-center">
                                                <i class="fas fa-user"></i>
                                                <input name="email" type="text" placeholder="Email">
                                            </div>
                                            <div class="outBorder">
                                                <div class="inBorder"></div>
                                            </div>
                                            <div class="inputIcon align-items-center">
                                                <i class="fas fa-lock"></i>
                                                <input name="password" type="password" placeholder="Şifrə">
                                            </div>
                                            <div class="outBorder">
                                                <div class="inBorder"></div>
                                            </div>
                                            <button type="submit" class="btn_logInfrm">Daxil ol</button>

                                        </form>
                                        <p><a href="#">Şifrənizi unutmusunuz?</a></p>
                                    </div>

                                    <div>
                                        @*<a asp-controller="account" asp-action="ExternalLogin">
                                            <button type="submit" class="btn_facebook">Facebook ilə daxil ol</button>
                                        </a>


                                        
                                        <a asp-controller="account" asp-action="ExternalLogin">
                                            <button type="submit" class="btn_gmail">Gmail ilə daxil ol</button>
                                        </a>*@




                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
    </section>

  
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="~/js/logIn.js"></script>
</body>
</html>
